<p id="notice"><%= notice %></p>

<h1>Post Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Post priority</th>
      <th>Salary min</th>
      <th>Salary max</th>
      <th>Post title</th>
      <th>Job description</th>
      <th>Job expried date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_jobs.each do |post_job| %>
      <tr>
        <td><%= post_job.post_priority %></td>
        <td><%= post_job.salary_min %></td>
        <td><%= post_job.salary_max %></td>
        <td><%= post_job.post_title %></td>
        <td><%= post_job.job_description %></td>
        <td><%= post_job.job_expried_date %></td>
        <td><%= link_to 'Show', post_job %></td>
        <td><%= link_to 'Edit', edit_post_job_path(post_job) %></td>
        <td><%= link_to 'Destroy', post_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Job', new_post_job_path %>
