<p id="notice"><%= notice %></p>

<p>
  <strong>Post priority:</strong>
  <%= @post_job.post_priority %>
</p>

<p>
  <strong>Salary min:</strong>
  <%= @post_job.salary_min %>
</p>

<p>
  <strong>Salary max:</strong>
  <%= @post_job.salary_max %>
</p>

<p>
  <strong>Post title:</strong>
  <%= @post_job.post_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @post_job.job_description %>
</p>

<p>
  <strong>Job expried date:</strong>
  <%= @post_job.job_expried_date %>
</p>

<%= link_to 'Edit', edit_post_job_path(@post_job) %> |
<%= link_to 'Back', post_jobs_path %>
